@import "tailwindcss";

@plugin 'tailwindcss-animate';

@source '../../*.{js,ts,jsx,tsx,mdx}';

@custom-variant dark (&:is(.dark *));

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
    padding-inline: 2rem;
  }
  @media (width >= 1200px) {
    max-width: 1200px;
  }
}

@font-face {
  font-family: Lalezar-Regular;
  src: url("/fonts/Lalezar-Regular.ttf");
}

@font-face {
  font-family: Vazir;
  src: url("/fonts/Vazir.ttf");
}

@font-face {
  font-family: VazirMedium;
  src: url("/fonts/Vazir-Medium.ttf");
}

@theme {
  --font-fa: Vazir;
  --color-background: hsl(0 0% 100%);
  --color-foreground: hsl(240 10% 3.9%);
  --color-card: hsl(0 0% 100%);
  --color-card-foreground: hsl(240 10% 3.9%);
  --color-popover: hsl(0 0% 100%);
  --color-popover-foreground: hsl(240 10% 3.9%);
  --color-primary: hsl(20 43% 39%);
  --color-primary-foreground: hsl(0 0% 98%);
  --color-secondary: hsl(240 4.8% 95.9%);
  --color-secondary-foreground: hsl(240 5.9% 10%);
  --color-muted: hsl(240 4.8% 95.9%);
  --color-muted-foreground: hsl(240 3.8% 46.1%);
  --color-accent: hsl(240 4.8% 95.9%);
  --color-accent-foreground: hsl(240 5.9% 10%);
  --color-destructive: hsl(0 84.2% 60.2%);
  --color-destructive-foreground: hsl(0 0% 98%);
  --color-border: hsl(240 5.9% 90%);
  --color-input: hsl(240 5.9% 90%);
  --color-primary-light: hsl(20 43% 70%);
  --color-ring: hsl(252 59% 48%);
  --header-height: 70px;
}

.dark {
  --color-background: hsl(240 10% 3.9%);
  --color-foreground: hsl(0 0% 98%);
  --color-card: hsl(240 10% 3.9%);
  --color-card-foreground: hsl(0 0% 98%);
  --color-popover: hsl(240 10% 3.9%);
  --color-popover-foreground: hsl(0 0% 98%);
  --color-primary: hsl(20 43% 45%);
  --color-primary-foreground: hsl(0 0% 98%);
  --color-secondary: hsl(240 3.7% 15.9%);
  --color-secondary-foreground: hsl(0 0% 98%);
  --color-muted: hsl(240 3.7% 15.9%);
  --color-muted-foreground: hsl(240 5% 64.9%);
  --color-accent: hsl(240 3.7% 15.9%);
  --color-accent-foreground: hsl(0 0% 98%);
  --color-destructive: hsl(0 62.8% 30.6%);
  --color-destructive-foreground: hsl(0 0% 98%);
  --color-border: hsl(240 3.7% 15.9%);
  --color-input: hsl(240 3.7% 15.9%);
  --color-ring: hsl(252 59% 54%);

  * {
    scrollbar-color: color-mix(
        in oklab,
        var(--color-neutral-600) 45%,
        transparent
      )
      transparent;
  }
}

@layer base {
  * {
    border-color: var(--color-border);
  }

  h1 {
    font-family: "Lalezar", cursive;
  }

  html[lang="en"] h1 {
    font-family: "Inter", sans-serif;
  }
}

html {
  scroll-behavior: smooth;
}

html[lang="fa"] body {
  font-family: "Vazir", "Inter", sans-serif;
  direction: rtl;
}

html[lang="fa"] .brand-text {
  margin-left: 20px;
  font-family: "Lalezar-Regular";
  font-size: 1.4em;
  padding-top: 4px;
}

@media (width <= 48rem) {
  .docs-header {
    --header-height: 70px;
  }
}

body:has(.splash-screen) {
  overflow: hidden;
}

button:hover {
  cursor: pointer;
}

@layer utilities {
  .container {
    margin-inline: auto;
    padding-inline: 2rem;
    @media (width >= --theme(--breakpoint-sm)) {
      max-width: none;
    }
    @media (width >= 1200px) {
      max-width: 1200px;
    }
  }

  .heading,
  .heading > a {
    @apply flex items-center gap-2 hover:underline w-max max-sm:max-w-80 max-lg:max-w-[500px] text-wrap;
  }

  .rm-underline {
    text-decoration: none !important;
  }

  .heading-h1 {
    @apply text-2xl md:text-3xl lg:text-4xl font-bold mb-3;
    scroll-margin-top: 150px;
  }

  .heading-h2 {
    @apply text-xl md:text-2xl font-bold mb-2;
    scroll-margin-top: 140px;
  }

  .heading-h3 {
    @apply text-lg md:text-xl font-bold mb-2;
    scroll-margin-top: 135px;
  }

  @media (min-width: 768px) {
    .heading-h1 {
      scroll-margin-top: 100px;
    }
    .heading-h2 {
      scroll-margin-top: 95px;
    }
    .heading-h3 {
      scroll-margin-top: 90px;
    }
  }

  .heading > a > svg {
    @apply opacity-0 group-hover:opacity-100 transition-opacity duration-300;
  }

  .heading-h1 > a > svg {
    @apply w-8 h-8;
  }

  .heading-h2 > a > svg {
    @apply w-6 h-6;
  }

  .heading-h3 > a > svg {
    @apply w-5 h-5;
  }
}

* {
  scrollbar-color: color-mix(
      in oklab,
      var(--color-neutral-300) 60%,
      transparent
    )
    transparent;
}

.alert-parent .code-block {
  & code {
    @apply dark:bg-[var(--code-block-color)]/10 bg-white/50 !px-0;
  }
  & pre {
    @apply dark:!border-0;
  }
}

[dir="rtl"] .prose blockquote {
  border-left-width: 0;
  border-right-width: 4px;
  padding-left: 0;
  padding-right: 1.5rem;
}
